.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    img{
        width: 120px;
    }
    h1{
        color: var(--branco)
    }
}