.ButtonPersonalizado{
    margin-top: 2rem;
    width: 70%;
    height: 5vh;
    background-color: var(--azul-400);
    color: var(--branco);
    font-weight: bold;
    border: 0;
    cursor:pointer;
    transition: 0.5s;

    &:hover{
        background-color: var(--fundo);
        border: 1px solid var(--azul-400);
        color: var(--azul-400);
        border-radius: 1rem;
    }
}